TYPE CONVERSION

Q.1 convert integer to a floating-point number

In [1]:
int_number =  35
float_number = float(int_number)
print(float_number)

35.0

Q.2 convert float to an integer

In [2]:
float_number = 3.3
int_number = int(float_number)
print(int_number)

3

Q.3 convert an integer to an string

In [4]:
integer_number = 33
my_string = str(integer_number)
print(my_string)

33

Q.4 convert a list to a tuple

In [5]:
my_list = [1,2,3,4,5,6,7,8,9]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Q.5 convert a tuple to a list

In [7]:
my_tuple = ("name",3,4,5)
my_list = list(my_tuple)
print(my_list)

['name', 3, 4, 5]

Q.6 convert a decimal number to binary

In [ ]:
decimal_number = 10